<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Hermes</title>
<link rel="stylesheet" href="/css/hermes.css" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<img src="files/parlament.png" alt="Logo des Parlaments" />
	<div id="navigation">
		<a href="/searchVideo">Hauptseite</a>
	</div>
	<div id="hermes" class="mainPanel">
		<div class="leftPanel">
			<ul id="treeview"
				th:each="positionMarker,iterationStatus : ${presentVideoModel.positionMarkers}">
				<li><a href="#"
					th:onclick="'setCurTime(' + ${positionMarker.timeOffset} + ');return false;'"><p
							th:text="${positionMarker.name}" /></a></li>
			</ul>
		</div>
		<div class="rightPanel">
			<video id="sbrVideo" width="640" height="480" controls="controls">
				<source id="source" th:src="${presentVideoModel.videoLink}"
					type="video/mp4" />
				Your browser does not support the video tag
			</video>
		</div>
	</div>
	<script>
		var vid = document.getElementById("sbrVideo");

		function getCurTime() {
			alert(vid.currentTime);
		}

		function setCurTime(p1) {
			vid.currentTime = p1;
		}
	</script>
</body>
</html>
