<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Hermes</title>
<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
<script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	   <header>
        <img src="/resources/png/hermes_icon.png" alt="Logo Hermes" />
    </header>
    <nav>
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="/searchVideo">Suchen</a></li>
            <li role="presentation"><a href="/recordVideo">Aufnehmen</a></li>
            <li role="presentation"><a href="/uploadVideo">Video hochladen</a></li>
        </ul>
    </nav>
	
	<div id="hermes" class="mainPanel">
		<div class="leftPanel">
			<ul id="treeview"
				th:each="positionMarker,iterationStatus : ${presentVideoModel.positionMarkers}">
				<li><a href="#"
					th:onclick="'setCurTime(' + ${positionMarker.timeOffset} + ');return false;'"><p
							th:text="${positionMarker.name}" /></a></li>
			</ul>
		</div>
		<div class="rightPanel">
			<video id="sbrVideo" width="640" height="480" controls="controls" th:src="${presentVideoModel.videoLink}" type="video/mp4">
				Your browser does not support the video tag
			</video>
		</div>
	</div>
	<script>
		var vid = document.getElementById("sbrVideo");

		function getCurTime() {
			alert(vid.currentTime);
		}

		function setCurTime(p1) {
			vid.currentTime = p1;
		}
	</script>
</body>
</html>
