<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Hermes</title>
<link rel="stylesheet" href="/css/hermes.css" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div id="navigation">
        <a href="/searchVideo">Hauptseite</a>
	</div>
	<form method="POST" enctype="multipart/form-data" action="/uploadVideo">
		File to upload: <input type="file" name="file" /><br /> Name: <input
			type="text" name="name" /><br /> <br /> <input type="submit"
			value="Upload" /> Press here to upload the file!
	</form>
</body>
</html>